export DEPLOY_HOST=ec2-user@13.59.178.38
export PUBLIC_HOSTNAME=colossalclawadventure.com
export BASE_URL=https://colossalclawadventure.com
export APP_NODE_ENV=production
export SPACESHIP_API_KEY="Rdb0XGysWuBnveWaNkyi"
export SPACESHIP_API_SECRET="dY3v9zk5epFZDMgoxUfDNp7fO2bGKQW4tT8wy58gGmHgg5oHPOeT9TdPDnzCINj3"
